
@import './node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg';

.rdw-dropdownoption-default {
  color : #333!important;
}
.rdw-dropdown-selectedtext {
  color : #333!important;
}
.rdw-dropdown-wrapper {
  border-color : #333!important;
}